html {
  box-sizing: border-box;
}

body {
  min-width: 320px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;

  color: #2C2E3F;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}
